{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block styles %}


<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/index.css'%}">
<!-- <link rel="stylesheet" href="{% static 'css/signup.css'%}"> -->
  {% endblock%}


{% block content %}


<div class="container text-center ">
  
<div class="row">
    <div class="header1 mt-3 col-xs-7 col-sm-7 col-md-7 col-lg-7">
       
        <img class="bg img-responsive"src="{% static "img/BG.png" %}" alt="" style="height:746px;width:985px;opacity:100%;background-position-x:0px;background-position-y:0px; filter:drop-shadow(14px 15px 45px 0px 7%); position: absolute;
        left: -180px;
        top: -13px;
        position:absolute;">
       
    </div>
    
        <!-- <div class="row" style="
        "> -->
       
        <div class="bitmap">
                
                <div class="header2 mt-3 col-xs-5 col-sm-5 col-md-5 col-lg-5"  style="margin-top: 20px;
        padding: 0;
        line-height: 20px;
        position: absolute;
        right: 0px;
        top: -13px;">
        <img class="bitmap img-responsive"src="{% static "img/Oval_4.png" %}" alt="" style="position: absolute; left: -200%; top:70%;">
        <h1 style="position: absolute; left: -200%; top:70%;color:aliceblue;">Devia Agency</h1>
        <h3 style="position: absolute; left: -200%; top:300%; color:aliceblue;">A Startup that helps build other Startup.</h3>
        <h4 style="position: absolute; left: -200%; top:600%; color:aliceblue;">Devia Agency was founded in 2018. A Dubai based <br>
            digital studio that focuese on developing high <br> quality products 
            to help startups succeed.
        </h4>
                        <ul >   
                            <li><a href="#" >personality</a></li>
                            <li><a href="#" >values</a></li>
                            <li><a href="#" >support</a></li>
                            <li><a href="#" >work with us</a></li>
                          </ul>       
    
            </div>
            <img class="bitmap2 img-responsive"src="{% static "img/Bitmap.png" %}" alt=""  style="height:534px;width:800px;opacity:100%;background-position-x: 720px; background-position-y: 106px; opacity:100px;position: absolute;
            right: -150px;
            top: 0px;
            z-index: -1;">
        </div>
    </div>
    <div class="row">

<img class="devias img-responsive"src="{% static "img/devias.png" %}" alt="" style="left: 300px;
bottom: -300px;
position:absolute; width:40%;">
<div class="row">
    <div class="team col-md-5" style="top: 968px;
    left:60px;
    position:absolute;
    width:350px;
    height: 330px;
    box-shadow: 0 8px 20px rgba(224, 244,224, 0.5);
    border-radius: 3px;
    background-color: #0000ff; ">
        <p style="text-align: justify;
        position: absolute;
        color:aliceblue;
        left:15%;
        top:20%;">"Devias team is efficient, experienced, <br> 
            and a pleasure to work with in terms of <br>
            communication and collaboration.We <br>
            received a world-class website that has <br> 
            already led to increased sales and <br>
            conversions "
            <hr style="width:50px;
            height:2px;
            background-color: white;
            padding: 0;
            margin: 0;
            font-weight:
             bolder;position: 
             absolute; 
             left:15%; 
             top:70%; ">
             <p style="position: absolute;
             color:aliceblue;
             left:15%;
             top:70%;
             text-align: justify">
             <br>
             sherrif mohammed Gadallah <br>
             CEO, CardMachineOutLet.com
            </p>

        </p>

    </div>

    <div class="combined_shape col-md-6" style="left:60px;
    position:absolute;
    left: 450px;
    top:964px;
    width:700px;
    box-shadow: 0 8px 20px rgba(224, 224, 224, 0.5);
    height: 450px;
    background-color: #0000ff;
    border-radius: 3px;">
    <hr style="width:50px;
            height:2px;
            background-color: white;
            padding: 0;
            margin: 0;
            font-weight:
            bolder;position: 
            absolute; 
            left:14%; 
            top:10%; ">

            <h3 style="position: absolute;
             left: 10%;
             top:10%;
             color: white;
             font-family: Circular Std Bolder;
             font-size: 22px;">Our Work</h3>

             <p class="our_work" style="position: absolute;
             left:12%;
             top:17%;
             color:white;
             font-size: 20px">
                 A customer-first, <br>
                 search SaaS for an <br>
                 industry leader in <br>
                 of search solutions.
             </p>
        <img class="devias img-responsive"src="{% static "img/shape.png" %}" alt="" 
        style="position: absolute;
        opacity: 0.10;
        left: 18%;
        top:6%;
        background-color: #000000;
        width: 343px;
        height: 420px;">

        <button class="ui" style="width:80px;
        height:40px;
        color:#ffffff;
        border-radius: 3px;
        background-color: #0000ff;
        box-shadow: 0 6px 15px rgba(224, 224, 224, 0.5);
        position: absolute;
        bottom:150px;
        left:40px;
        border: 2px solid #ffffff;
        font-family:Open Sans; 
        font-weight: 700; 
        font-size: 11px;
        text-transform:uppercase;">UI/UX</button>


        <button class="css" style="width:80px;
        height:40px;
        color:#ffffff;
        border: 2px solid #ffffff;
        border-radius: 3px;
        background-color: #0000ff;
        box-shadow: 0 6px 15px rgba(224, 224, 224, 0.5);
        position: absolute;
        bottom:150px;
        left:130px;
        font-family:Open Sans; 
        font-weight: 700; 
        font-size: 11px;
        text-transform:uppercase;">UI/UX</button> <br>


        <button class="case_study" style="width:190px;
        height:48px;
        color:#0000ff;
        border: 2px solid #ffffff;
        border-radius: 30px;
        background-color: #ffffff;
        box-shadow: 0 6px 15px rgba(224, 224, 224, 0.5);
        position: absolute;
        bottom:40px;
        left:40px;
        font-family:Open Sans; 
        font-weight: 700; 
        font-size: 14px;
        line-height: 16px;
        text-transform:uppercase;
        margin:0px;
        padding:0px;">
            View case study
        </button>

        <div class="monitor_panel col-md-12" style="width:450px;
        height: 40px; 
        background-color: #f6f6f6;
        border-radius: 8px; 
        position:absolute;
        right:0px;
        top: 13%;
        ">
           <img class="circle img-responsive" src="{% static "img/circle2.png" %}" alt="">
           <img class="circle1 img-responsive" src="{% static "img/circle1.png" %}" alt="">
           <img class="circle2 img-responsive" src="{% static "img/circle.png" %}" alt="">

           
       
       </div>
       <div class="panel1 col-md-6" style=" height: 386px; 
           width:450px;
           background-color: white;
           border-radius: 1px; 
           position:absolute;
           right:-0px;
           top: 20%;">
       
           </div>

    </div>

</div>


    </div>
    <div class="row">

        <hr style="width:500px; height: 3px; color:#0000ff; 
        position:absolute;
        left:20px;
        top:270px;">
            <h3 style="position: absolute; 
            left: 46%; top:275%; color:#0000ff; 
            font-family: Circular Std Bolder; 
            font-size: 40px;">Services We Offer </h3> <br>

            <p style="position:absolute; left:40%; top:292%; color: #0000ff;font-size: 18px;">
                We offer a full range of design and development services. <br>
                As our client, you'll be in touch with exeperienced project management <br> 
                and leadership teams, with updates provided and questions answered<br> 
                at every phase of the project.
            </p>

    <div class="services col-md-4" style="position:absolute;">
   

    </div>

    <div class="services col-md-4" style="position:absolute;">
   

        </div>

        <div class="services col-md-4" style="position:absolute;">
   

            </div>    
</div>
        
</div>




  {% endblock %}

  

